{% extends 'layout.twig' %}

{% block content %}
<h1 class="animated bounce">Example</h1>
<div class="alert alert-info" role="alert" id="info" style="display:none;">
<button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
Check your mail for reset the password</div>

<div class="alert alert-danger" role="alert" id="error" style="display:none;">
<button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
Check your mail for reset the password</div>

<form action="/lost-password" method="post" id="form-lost-password">
  <div class="form-group">
    <label for="inputEmail1">Email address</label>
    <input type="email" class="form-control" id="inputEmail1" placeholder="Email" name="email">
  </div>
  <button type="submit" class="btn btn-default">Submit</button>
</form>

{% endblock %}

{% block javascript %}
$(document).ready(function() {
	$('#form-lost-password').ajaxForm({
		beforeSubmit : function(formData, jqForm, options){
			var form = jqForm[0];
			if (form.email.value == '') {
				$('#error').show().addClass('animated fadeInDown').text('Error - please enter an email');
				return false;
			}
		},
		success	: function(responseText, status, xhr, $form) {
			if (status == 'success') $('#info').show().addClass('animated fadeInDown');
		},
		error : function(e){
			if (e.responseText == 'email-not-found'){
				$('#error').show().addClass('animated fadeInDown').text('Email not found');
			}
			else {
				$('#error').show().addClass('animated fadeInDown').text('Error - please retry');
			}
		}
	});
});
{% endblock %}
